

<table mat-table [dataSource]="users" class="table table-sm">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let user">{{ user.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let user">{{ user.name }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="colsToDisplay"></tr>
  <tr mat-row *matRowDef="let user; columns: colsToDisplay"></tr>

</table>
<button mat-raised-button color="warn">A Mat Button</button>
